body {
    background: url('../img/imagendefondoinicio.jpg') no-repeat center center fixed; /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
